{
  "apikey" : "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "secretkey" : "yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy",
  "ifttt" : "zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz",
  "mongo_url" : "127.0.0.1",
  "mongo_port" : "28001",
  "mongo_dbname" : "cc1"
}
